@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #21222D;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.animate-shimmer {
    animation: shimmer 1s infinite;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    background-size: 200% 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f8f8f2;
    border-radius: 5px;
}

